@using SummonersGift.Data;
@using SummonersGift.Models;
@using SummonersGift.Models.Riot;
@using SummonersGift.Models.View;
@using SummonersGift.Web;
@model DataFetchResult<Tuple<SummonerBasicViewModel, List<Match>>>


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Index";
}

<h2>Summoner Information</h2>

@{ if (@Model.Success)
    {
    <p>Welcome: @Model.GetResult.Item1.Name</p>

    <p>You are level: @Model.GetResult.Item1.SummonerLevel</p>

    <p>And were last active on: @Model.GetResult.Item1.RevisionDate</p>
        foreach (Match i in Model.GetResult.Item2)
        {
            @Html.Partial("~/Views/Shared/_MatchPartial.cshtml", i);
        }
    }
    else
    {
    <p>No summoner information found...</p>
    <p>@Model.ErrorMessage</p>
    }

    <p>Api calls: @Model.ApiCalls</p>
    <p>Time taken: @Model.TimeTaken.TotalSeconds</p>

}

