@using SummonersGift.Data;
@using SummonersGift.Models;
@using SummonersGift.Models.Riot;
@model DataFetchResult<MatchHistory_2_2>


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Index";
}

<h2>Summoner Information</h2>

@{ if (@Model.Success)
    {
    @*<p>Welcome: @Model.GetResult.Name</p>

    <p>You are level: @Model.GetResult.SummonerLevel</p>

    <p>And were last active on: @Model.GetResult.RevisionDate</p>*@

    foreach (Match i in Model.GetResult.Matches)
    {
        <p>@i.MatchId</p>
    }
    }
    else
    {
    <p>No summoner information found...</p>
    <p>@Model.ErrorMessage</p>
 }

    <p>ApiCalls: @Model.ApiCalls</p>

}

