@using SummonersGift.Models.Riot;
@model Match

@{
var partObj = Model.Participants.Single();
var result = partObj.Stats.Winner ? "won" : "lost";
var classes = "matchItem " + result;
var champ = DataService.Champions.ChampOrNull(partObj.ChampionId);
var spell1 = DataService.Summoners.SpellOrNull(partObj.Spell1Id);
var spell2 = DataService.Summoners.SpellOrNull(partObj.Spell2Id);
var role = DataService.RoleAndLane.RoleOrDefault(partObj.Timeline.Role, " ");
var lane = DataService.RoleAndLane.LaneOrDefault(partObj.Timeline.Lane, " ");
}

@if (champ!=null)
{
    <div class="@classes">
    <div class="leftPanel">
        <div class="champImg">
            <img src="@DataService.Champions.SquareBase@champ.full"
                 alt="@champ.Name" />
        </div>
    </div>
    <div class="middlePanel">
        <div class="champName">@champ.Name</div>
        <div class="spell">
            <img src="@DataService.Summoners.SquareBase@spell1.Full"
                 alt="@spell1.Name" height="48" width="48"/>
        </div>
        <div class="spell">
            <img src="@DataService.Summoners.SquareBase@spell2.Full"
                 alt="@spell2.Name" height="48" width="48"/>
        </div>
        <div class="role">@role</div>
        <div class="lane">@lane</div>
    </div>
    <div class="rightPanel">
        <div class="kda">
            <span class="kills">@partObj.Stats.Kills</span>/<span class="deaths">@partObj.Stats.Deaths</span>/<span class="assists">@partObj.Stats.Assists</span>
        </div>
    </div>
</div>
}
else
{
<div class="@classes">
    No champion found
</div>
}